[Unit]
Description=DSTDS World Backup
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/dstds backup
User=dstds
Group=dstds

[Install]
WantedBy=multi-user.target
